*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab";
  background-color: #000C36;
  color: #fff;
}

body {
  width: 19.65em;
  height: 42.6em;
}

header {
  display: flex;
  justify-content: center;
}

main {
  align-items: center;
  height: 100%;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

h1 {
  font-family: "Carter One";
  font-weight: 400;
  font-size: 2.25rem;
  color: #FFF;
}

textarea {
  background-color: #3B4877;
  font-size: 0.875rem;
  border-radius: 0.714em;
  color: #05060C;
  border: none;
  outline: none;
  resize: none;
  height: 100%;
  width: 100%;
}

#logo-img {
  width: 5em;
  height: 5.4em;
}

.qn-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  height: 100%;
}