*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  font-family: "Roboto Slab";
  background-color: #000C36;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 24.563em;
  height: 53.25em;
}

html, 
body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  height: 100%;
  margin: 2.125em 2.125em 4.25em;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-family: "Carter One";
  font-weight: 400;
  font-size: 2.25rem;
  color: #FFF;
}

textarea {
  background-color: #3B4877;
  font-size: 0.875rem;
  border-radius: 0.714em;
  color: #05060C;
  border: none;
  outline: none;
  resize: none;
  width: 100%;
  height: 100%;
  padding: 0.857em;
}

#logo-img {
  width: 5em;
  height: 5.4em;
}

#reveal-movie-title {
  text-align: center;
  margin-bottom: 1.313em;
}

#reveal-movie-desc {
  margin-bottom: 4.063em;
}

.primary-btn {
  color: #000C36;
  background-color: #51E08A;
  border-radius: 0.333em;
  border: none;
  font-size: 1.875rem;
  font-weight: 700;
  cursor: pointer;
  height: 2.367em;
}

.qn-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 8em;
  gap: 0.5em;
}

.hide {
  display: none !important;
}