*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  font-family: "Roboto Slab";
  background-color: #000C36;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 24.563em;
  height: 53.25em;
}

html, 
body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  height: 100%;
  margin: 2.125em 2.125em 4.25em;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-family: "Carter One";
  font-weight: 400;
  font-size: 2.25rem;
  color: #FFF;
}

textarea {
  background-color: #3B4877;
  font-size: 0.875rem;
  border-radius: 0.714em;
  color: #05060C;
  border: none;
  outline: none;
  resize: none;
  width: 100%;
  height: 100%;
  padding: 0.857em;
}

input {
  text-align: center;
  background-color: #3B4877;
  font-size: 1.125rem;
  border-radius: 0.714em;
  color: #FFF;
  border: none;
  outline: none;
  resize: none;
  width: 100%;
  height: 100%;
  padding: 0.857em;
  font-weight: 300;
}

input::placeholder {
  text-align: center;
  color: #000C36;
  font-weight: 300;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

#logo-img {
  width: 5em;
  height: 5.4em;
}

#reveal-movie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#restart-btn {
  width: 100%;
}

#reveal-movie-title {
  text-align: center;
  margin-bottom: 1.313em;
}

#reveal-movie-desc {
  margin-bottom: 4.063em;
}

#reveal-btn {
  width: 100%;
}

#group-question-form {
  justify-content: center;
  gap: 1.438em;
  height: auto;
}

#participant-number-current {
  text-align: center;
  font-size: 3.125em;
}

.primary-btn {
  color: #000C36;
  background-color: #51E08A;
  border-radius: 0.333em;
  border: none;
  font-size: 1.875rem;
  font-weight: 700;
  cursor: pointer;
  height: 2.367em;
}

.qn-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 8em;
  gap: 0.5em;
}

.group-qn-container {
  width: 20.313em;
}

.hide {
  display: none !important;
}

.choice-qn-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 0.688em;
}

.qn-options-container {
  display: flex;
  gap: 0.563em;
}

.choice-container {
  border: none;
  background-color: #3B4877;
  width: auto;
  height: 1.786em;
  font-size: 0.875rem;
  border-radius: 0.357em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1.5em;
  cursor: pointer;
}

.choice-container:hover {
  background-color: #0037ff;
}

.choice-container.active {
  background-color: #0037ff;
}

.reveal-movie-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}